.header {
    text-align: center;
    background-color: blueviolet;
    margin: 10px;
}

.header button {
    margin: 10px;

}

.Squares {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}